@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('../verify/image/2144.jpg');
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-decoration: bold;
}
.login-box{
    width: 320 px;
    height: 420 px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff ;
    top: 50% ;
    left: 50% ;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: cale(50% - 50%);
}