@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    background-color: rgb(218, 255, 250);
    margin-top: 60px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-decoration: bold;
}

img {
    width: 250px;
    height: 250px;
  }

a {
    text-decoration-line: none;
    text-decoration: none;
    text-decoration-color: blue;
}